/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*另外加的*/
img{
    max-width: 100%;
    height:auto;
}

.wrap{
    max-width:1049px;
    margin:0 auto;
    box-sizing: border-box;
}

.header{
    width:100%;
    height:420px;
    background-image: url(../images/bugar-big.png);
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background:rgba(0,0,0,0.75);
    height:56px;
    
}

.logo{
    padding-left: 10px;
}

.logo a{
    display: block;
    width:120px;
    height:25px;
    background: url(../images/logo_w\(null\).svg) no-repeat;
    background-size: contain;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px; 
}

.menu{
    display: flex;   
}

.menu li{
    width:100px;
    height:56px;
}

.menu li a{
    display: block;
    line-height:56px;
    width:100%;
    height:100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.menu .this a{
    background: #ffb703;
    color: #6c584c;  
    font-size: 20px;
}

.menu li a:hover{
    border-bottom: 3px solid white;
}


.dark{
    position: absolute;
    top:30%;
    left: 25%;
    right:25%;
    max-width:460px;
    height: 152px;
    background:rgba(0,0,0,0.35);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.dark img{
    width:15px;
    height:15px;
}

.dark h2{
    font-size: 40px;
    color:white;
}

#cover{
    font-size: 40px;
    color:white;
}

.dark p{
    margin-top: 20px;
    font-size: 20px;
}

@media(max-width:768px){
    .header{
        background-image: url(../images/bugar-small.png);
        background-size: cover;
        background-position: center center;  
    }

    .nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height:auto;
        width:100%;
        position: fixed;
        top:0;
        background:rgba(0,0,0,1);
        z-index: 9999;
    }

    .nav .logo a{
        margin-top: 10px;
        margin-bottom: 10px;
        width:250px;
        height:50px;
        background-size:contain;
    }

    .menu{
        width:95%;
        margin-top: 5px;
    }
    .menu li{
        width:31.3333%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
        height:44px;

    }
    .menu li a{
        width:100%;
        height:100%;
        color:white;
        line-height: 44px;
        font-size: 20px;
        background: #3d1101;
    }

    .menu li.active-1{
        background: #f7a072;
        border-radius: 20px 20px 0 0;
    }

    .menu li a:hover{
        border-bottom:none;
    }
    

    .dark{
        top:40%;
        left:10%;
        right:10%;
        height: auto;
    }

    .header.dark h2{
        font-size: 32px;
    }

    .dark p{
        margin-bottom: 5px;
    }

}


.content{
    background: #efe9e7;
    padding-bottom: 60px;
}

.form-login{
    max-width:300px;
    margin:0 auto;
    padding-top: 40px;
}

.form-login form{
    box-shadow: 3px 3px 5px #d0cac9;
    border-top: 3px solid #ff5e45;
    padding:15px;
}

.form-login h2,h3,h4,label{
    color:#3d1101;
    font-weight: bold;
}

.form-login h2{
    margin-top: 40px;
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.form-login h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.form-login h4{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.form-login input{
    width:270px;
}

.form-login .pure-form input[type="email"] {
    margin-bottom: 15px;
}

.forgot-password{
    color:#fe5e45;
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 30px;
}

.button{
    display: flex;
    justify-content: space-around;
    width:90%;
}

.button .btn-register{
    background: #9b9796;
    color:white;
    width:45%;
}

.button .btn-sigin{
    background: #f56c23;
    color:white;
    width:45%;
}

/*設定icon裡面的小圖*/

.mail-icon{
    background: url(../images/envelope.svg)no-repeat;
    background-position: left;
    background-origin: content-box;
    text-indent: 30px;
    
}

.password-icon{
    background: url(../images/lock.svg) no-repeat;
    background-position:left ;
    background-origin: content-box;
    text-indent: 30px;
}

.footer{
    background: #efe9e7;
    color:#3d1101;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    
}

.about, .contact , .footer-cnt{
    width:33.3333%;
    padding-left:40px;
}

.about h5, .contact h5 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.contact ul li{
    list-style-type:disc;/*恢復前面的小原點*/
    line-height: 20px;
}

.icon-hid{display: none;}

.footer-cnt{
    display: flex;
    flex-direction: column;
    padding-right:30px;
}

.footer-cnt p{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
    text-align: end;
}

.cnt-icon{
    display: flex;
    justify-content: end;
}

.cnt-icon li a img{
    width:50px;
    margin-left: 15px;
}

@media(max-width:768px){
    .footer{
    flex-direction: column;
    align-items: center;
    }

    .about, .contact{
        width:80%;
        margin-bottom: 25px;
        padding-right: 40px;
    }

    .about h5, .about p, .contact h5 {
        text-align: center;
    }

    .contact ul li{
        list-style-type:none;
        text-align: center;
    }
    
    .footer-cnt{
       display: none;
    }

    .icon-hid{
        display: flex;
        justify-content: center;
        list-style-type:none;
    }

    .icon-hid li a img{
        max-width: 40px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

};
