/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width: 100%;
    height:auto;
}

.wrap{
    max-width:1049px;
    margin:0 auto;
    box-sizing: border-box;
    background: #EFE9E7 100%;
}

.header{
    width:100%;
    height:420px;
    background-image: url(../images/bugar-big.png);
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background:rgba(0,0,0,0.75);
    height:56px;
    
}

.logo{
    padding-left: 10px;
}

.logo a{
    display: block;
    width:120px;
    height:25px;
    background: url(../images/logo_w\(null\).svg) no-repeat;
    background-size: contain;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px; 
}

.menu{
    display: flex;   
}

.menu li{
    width:100px;
    height:56px;
}

.menu li a{
    display: block;
    line-height:56px;
    width:100%;
    height:100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.menu .this a{
    background: #ffb703;
    color: #6c584c;
    font-size: 20px;  
}

.menu li a:hover{
    border-bottom: 3px solid white;
}


.dark{
    position: absolute;
    top:30%;
    left: 25%;
    right:25%;
    max-width:460px;
    height: 152px;
    background:rgba(0,0,0,0.35);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.dark img{
    width:15px;
    height:15px;
}

.dark h2{
    font-size: 40px;
    color:white;
}

#cover{
    font-size:40px;
    color:white;
    font-weight: bold;
}

.dark p{
    margin-top: 20px;
    font-size: 20px;
}

@media(max-width:768px){
    .header{
        background-image: url(../images/bugar-small.png);
        background-size: cover;
        background-position: center center;  
    }

    .nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height:auto;
        width:100%;
        position: fixed;
        top:0;
        background:rgba(0,0,0,1);
        z-index: 9999;
    }

    .nav .logo a{
        margin-top: 10px;
        margin-bottom: 10px;
        width:250px;
        height:50px;
        background-size:contain;
    }

    .menu{
        width:95%;
        margin-top: 5px;
    }
    .menu li{
        width:31.3333%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
        height:44px;

    }
    .menu li a{
        width:100%;
        height:100%;
        color:white;
        line-height: 44px;
        font-size: 20px;
        background: #3d1101;
    }



    .menu li a:hover{
        border-bottom:none;
    }
    

    .dark{
        top:40%;
        left:10%;
        right:10%;
        height: auto;
    }

    #cover{
        font-size: 40px;
        color:white;
        font-weight: bold;
    }

    .dark p{
        margin-bottom: 5px;
    }

}


.why p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    line-height: 1.5;
    color:#3D1101;
}

.why .line::before{
    content: '__________';
    color:#979797;
    transform: translate(-190%,-50%)
}

.why .line::after{
    content: '__________';
    color:#979797;
    transform: translate(90%,-50%)
}
.line{
    position: relative;
}

.line-abs{
    position: relative;
    top:-50px;  
}

.feature{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width:95%;
    margin-bottom: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width:31.3333%;
    padding: 1%;
    line-height: 1.2;
    color:#3D1101;
}

.card img{
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card h2{
    font-size: 18px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-family: MicrosoftJhengHeiRegular;
}

@media(max-width:768px){


    .why .line::before{
        display: none;
    }

    .why .line::after{
        display: none;
    }

    
    .feature{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width:90%;
        margin-bottom: 10px;
    }
}

.main-2-chief-1{
    display: none;
}

.main-2-chief{
    background-color: #3D1101;
    display: flex; 
    font-family: MicrosoftJhengHeiRegular;
}

.chef{
    width:45%;
    margin-left:3%;
}

.chef img{
    display: block;
    height: 100%;
    max-width: 100%;
     
}

.chef-int{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.chef-int h2{
    font-size: 20px;
    color: #EFE9E7;
    line-height: 32px;
}

.chef-int p{
    font-size: 20px;
    color: #EFE9E7;
    line-height: 1.3;
    
}


@media(max-width:376px){

    .main-2-chief{
        display: none;
    }

    .main-2-chief-1{
        display: block;
    }

    .main-2-chief-1{
        background-image: url(../images/main_chef_brown.png) ;
        width:100%;
        height:100%;
    }
    
    .main-2-chief-1 .chef-int-1{
        background-color:rgba(206,212,218,0.5);
        width:85%;
        height:100%;
        margin: 0 auto;
        padding: 15px;
        font-weight:bold ; 
    }
    
    .chef-int-1 h2{
        font-size: 20px;
        color:black;
        line-height:1.2;
    }
    
    .chef-int-1 p{
        font-size: 20px;
        color: black;
        line-height: 1.3;
        
    }
    
}

@media(max-width:768px){
    .main-2-chief{
        flex-direction: column;
        align-items: center;
    }

    .chef{
        width:100%;
        margin-left: 0;
    }

    .chef img{
        display: block;
        width: 100%;
    }

    .chef-int{
        width:85%;
    }
}

.main-3-review{
    margin-top: 40px;

}

.main-3-review .listen {
    color: #3D1101;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.feelings{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    width:95%;
}

.feeling-card{
    width:31.33333%;
    display: flex;
    justify-content: space-around;
}

.feeling-card img{
    width:67px;
    height:67px;
}

.review{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.med{
    font-size: 18px;
    color: #3D1101;
    font-family: MicrosoftJhengHeiRegular;
}

.small{
    font-size: 16px;
    color: #3D1101;
    line-height: 24px;
    font-family: MicrosoftJhengHeiRegular;
}

.big{
    font-size: 16px;
    color: rgba(61,17,0,0.75);
    line-height: 24px;
    text-align: end;
    font-family: MicrosoftJhengHeiRegular;
}

@media(max-width:768px){
    .feelings{
        flex-direction: column;
    }

    .feeling-card{
        width:95%;
    }
}

.main .main-4-booking{
    margin-top: 30px; 
    padding-bottom: 30px;
    background: #FAFAFA 70%;
    
}

.main-4-booking .reservation{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.booking{
    width:95%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map{
    width:48%;
    
}

.map img{
    width:100%;
    height: 100%;
}

.booking-form{
    width:50%; 
      
}

.booking .booking-form .pure-form input{
    width:100%;
}

.booking-form .form label, .desire span,.booking-form-ask{
    font-family: PingFangTC-Light;
    color:#3D1101;
    font-weight: bold;
    margin-top: 10px;
}

.desire {
    margin-top: 10px;
    margin-bottom: 10px;
}

.desire input{
    margin-right: 30px;
}

.desire span{
    margin-right: 10px;
}

.booking-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttom{
    display: flex;
    justify-content: end;
}

.buttom .btn-1,.buttom .btn-2{
    margin-left: 10px;
    width:25%;
}

.buttom .btn-1{
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    font-weight: bold;
}

.buttom .btn-2{
    background: #F56C23;
    border-radius: 3px;
    font-weight: bold;
}

@media(max-width:768px){
    .booking{
        flex-direction: column;
        align-items: center;
    }

    .map{
        width:90%;
    }

    .booking-form{
        width:90%;
    }
}

.footer{
    width:100%;
    background: #efe9e7;
    color:#3d1101;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    
}

.about, .contact , .footer-cnt{
    width:30.3333%;
    padding-left:3%;
   
}

.about h5, .contact h5 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.contact ul li{
    list-style-type:disc;/*恢復前面的小原點*/
    line-height: 20px;
}

.icon-hid{display: none;}

.footer-cnt{
    display: flex;
    flex-direction: column;
    padding-right:30px;
}

.footer-cnt p{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
    text-align: end;
}

.cnt-icon{
    display: flex;
    justify-content: end;
}

.cnt-icon li a img{
    max-width:50px;
    margin-left: 15px;
}

@media(max-width:768px){
    .footer{
        flex-direction: column;
    }

    .about, .contact {
        width:80%;
        margin-bottom: 25px;
        padding-left: 40px;
    }

    .contact ul li{
        list-style-type:none;
        
    }

    .footer-cnt{
        width:90%;
    }

    .footer-cnt p{
        font-size: 49px;
        text-align: end;
    }

    .footer-cnt .cnt-icon img{
        width:31px;
        height:33px;
    }
}





@media(max-width:376px){
    .footer{
    flex-direction: column;
    }

    .about, .contact{
        width:80%;
        margin-bottom: 25px;
    }

    .about h5, .about p, .contact h5 {
        text-align: center;
    }

    .contact ul li{
        list-style-type:none;
        text-align: center;
    }
    
    .footer-cnt{
       display: none;
    }

    .icon-hid{
        display: flex;
        justify-content: center;
        list-style-type:none;
    }

    .icon-hid li a img{
        max-width: 40px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

};
